{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2
}